@model EzollutionPro_BAL.Models.InvoiceSearchModel
@{
    /**/

    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
}
<link href="~/Content/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/daterangepicker/daterangepicker.css" rel="stylesheet" />

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-files-o"></i>&nbsp;@ViewBag.Title
        </h3>
        <div class="pull-right">
            @*<a href="/Invoice/AddEdit" class="btn btn-success"><i class="fa fa-plus"></i> Add New Invoice</a>*@
        </div>
       
    </div>
    <div class="box-body">
        <div class="row">
            <div id="home" class="tab-pane fade in active">
                <div class="">

                    <div class="box-body" style="min-height:500px">
                      
                        @using (Html.BeginForm("Index", "Invoice", FormMethod.Post, new { @id = "frmInvoice" }))
                        {
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label>Client Type</label>
                                        <div class="">
                                            @{
                                                List<SelectListItem> listClientType = new List<SelectListItem>();
                                                listClientType.Add(new SelectListItem
                                                {
                                                    Text = "SEA",
                                                    Value = "0",
                                                    Selected = true
                                                });

                                                listClientType.Add(new SelectListItem
                                                {
                                                    Text = "AIR",
                                                    Value = "1",
                                                    Selected = true
                                                });

                                            }
                                            @Html.DropDownListFor(model => model.iClientType, listClientType, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.iClientType)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.Label("Client")
                                        @Html.DropDownListFor(x => x.iClientId, new SelectList(ViewBag.Clients, "Value", "Text"), "[ ALL CLIENTS ]", new { @data_live_search = "true", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.iClientId)
                                    </div>
                                    <div class="col-md-2">
                                        @Html.Label("From Date")
                                        @Html.TextBoxFor(x => x.FromDate, new { @class = "form-control" })

                                    </div>

                                    <div class="col-md-2">
                                        @Html.Label("To Date")
                                        @Html.TextBoxFor(x => x.ToDate , new { @class = "form-control" })

                                    </div>
                                    <div class="col-md-2" style="display:none">
                                        @{
                                            List<SelectListItem> listPayStatus = new List<SelectListItem>();
                                            listPayStatus.Add(new SelectListItem
                                            {
                                                Text = "All",
                                                Value = "all",
                                            });
                                            listPayStatus.Add(new SelectListItem
                                            {
                                                Text = "Paid",
                                                Value = "paid"
                                            });
                                            listPayStatus.Add(new SelectListItem
                                            {
                                                Text = "Pending",
                                                Value = "pending",
                                                Selected = true
                                            });
                                            listPayStatus.Add(new SelectListItem
                                            {
                                                Text = "Partial",
                                                Value = "partial"
                                            });
                                            
                                        }
                                        @Html.DropDownListFor(model => model.PaymentStatus, listPayStatus, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2" >
                                        <label>&nbsp;</label>
                                        <div class="input-group">
                                            <input type="button" class="btn btn-info" id="btnSearchInvoice" value="Search Invoice" />
                                        </div>
                                    </div>
                                </div>

                                </div>
                            <br />
                         
                        }
                            <br />
                            <table id="tblInvoiceList" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SNo.</th>
                                        <th>Invoice No.</th>
                                        <th>Create Date</th>
                                        <th>Client Type</th>
                                        <th>Client ID</th>
                                        <th>Client Name</th>
                                        @*<th>Company</th>
                                        <th>POS</th>*@
                                        <th>Invoice From</th>
                                        <th>Invoice To</th>
                                        <th>Total Amt</th>
                                        <th>Received Amt</th>
                                        <th>TDS</th>
                                        <th>Balance</th>
                                        <th>Pay. Status</th>
                                    </tr>
                                    </thead>
                              
                            </table>
                            
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/plugins/moment/moment.min.js"></script>
    <script src="~/Content/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/PageScripts/invoice.js"></script>
    <script>
        $(document).ready(function () {
            //$("#btnGet").click(function (event) {
               
            //});
        });
    </script>
    }


           
