@model EzollutionPro_BAL.Models.Masters.PODModel
<div class="modal-header">
    <i class="fa fa-times-circle" style="float: right; font-size: 21px; font-weight: 700; line-height: 1; text-shadow: 0 1px 0 #fff; cursor: pointer; margin-top: 2px;" data-dismiss="modal"></i>
    <h4 class="modal-title"><i class="fa fa-edit"></i> Create/Update Port of Destination</h4>
</div>
@using (Html.BeginForm("AddUpdatePOD", "POD", FormMethod.Post, new { @id = "frmSavePOD" }))
{
    <div class="modal-body">
        @Html.HiddenFor(x => x.iPortID)
        <div class="box-body">
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Port Name</label>
                            @Html.TextBoxFor(z => z.sPortName, new { @class="form-control"})
                            @Html.ValidationMessageFor(z=>z.sPortName)
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Port Code</label>
                            @Html.TextBoxFor(z => z.sPortCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(z => z.sPortCode)
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <!-- /.form-group -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            @Html.TextBoxFor(z => z.sDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(z => z.sDescription)
                        </div>
                    </div>
                    <!-- /.form-group -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
    </div>
}
